<html>
    <head>
        <link rel="stylesheet" href="./invoiceTemplete.css">
        <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    </head>
        <body>
        <div class="invoice-main">
          <div class="invoice-header">
              <div class="title">
                  <h1>
                      <img src={TafiLogo} />
                  </h1>
              </div>
          </div>
        <div class="user-details row">
            <div class="section col-6">
                <div class="section-title">Buyer Information</div>
                <div class="details row">
                    <p>Name: {order?.user.userName}</p>
                    <p>Email: {order?.user.email}</p>
                    <p>Phone: +91 {order?.user.phone}</p>
                </div>
            </div>
            <div class="section col-6">
                <div class="section-title">Invoice Details</div>
                <div class="details row">
                    <p>Date: {dayjs(order?.timestamps).format('MMM D, YYYY')}</p>
                    <p>Invoice Number: {order?.transactionId}</p>
                </div>
            </div>
            <div class="section col-6">
                <div class="section-title">Billing To</div>
                <div class="details row">
                    <p>Address: {order?.userAddress.street}</p>
                    <p>City: {order?.userAddress.city}</p>
                    <p>Pin: {order?.userAddress.zipCode}</p>
                </div>
            </div>
            <div class="section col-6">
                <div class="section-title">Shipping To</div>
                <div class="details row">
                    <p>Address: {order?.userAddress.street}</p>
                    <p>City: {order?.userAddress.city}</p>
                    <p>Pin: {order?.userAddress.zipCode}</p>
                </div>
            </div>
            <div class="table-details">
                <table>
                    <thead>
                        <tr>
                            <th>Serial No.</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price (INR)<p>(inclusive of taxes)</p></th>

                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {
                            products && products.map((item, index) => {
                                return (
                                    <tr class="table-row" key={index}>
                                        <td>{index + 1}</td>
                                        <td>{item.productId?.title}</td>
                                        <td>{item.units}</td>
                                        <td>{(item.productId?.price)?.toLocaleString("en-IN")}</td>
                                        <td>{(item.productId?.price * item?.units)?.toLocaleString("en-IN")}</td>
                                    </tr>
                                );
                            })
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Shipment Charge</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{(order?.shipment_charge)?.toLocaleString("en-IN")}</td>
                        </tr>
                        <tr>
                            <td>Total Gross</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{(order?.amount + order?.shipment_charge)?.toLocaleString("en-IN")}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="section">
                <div class="section-bottom">Shipping From:</div>
                <div class="details row">
                    <p>
                        204, Princess Business SkyPark, Opp. Orbito Mall, A.B. Road,
                        Indore
                    </p>
                    <p>Phone: +91 81200 00506</p>
                    <p>Email: support@twicks.in</p>
                </div>
            </div>
        </div>
        <div class="download-button">
            <button class="btn btn-primary" onClick={downloadPDF}>
                Download
            </button>
        </div>
    </div>
      </body>
    </html>